<div class="container">
	<div class="row">
		
  	<div class="col-md-9">
			<div class="well">
				<table class="books">
					<tr class="books">
						<td class="cover">
							<span class="pull-left"><%= image_tag @movie.photo.url(:medium) %></span>
						</td>

						<td class="content">
							<header>
								<h3><%= @movie.name %></h3>
								<p>Year: &nbsp;<%= @movie.time %></p>
								<p>Director: &nbsp;<%= @movie.director %></p>
								<p>Writers: &nbsp;<%= @movie.writers %></p>
								<p>Stars: &nbsp;<%= @movie.stars %></p>
							</header>
	  				</td>
					</tr>
				</table>
				<h4>Description</h4>
				<p><%= markdown(@movie.description) %></p>
			</div> <!--well-->
			

			<div class="well well-sm">
				<h4> &nbsp; Comment <span class="badge"><%= @movie.comments_count %></span></h4>
				<hr/>
				<div id="comments">
					<%= render 'movies/comments' %>
				</div>
				<div id="paginator" class="pull-right">
					<%= paginate @comments, remote: true %>
				</div>
				<br/>
				<%= render 'comments/form' %>
			</div> <!-- well well-sm -->
		</div> <!-- col-md-9 -->

		<div class="col-md-3">
  		<%= link_to t('edit'), edit_movie_path(@movie), class: "btn btn-info" %> | <%= link_to t('delete'), movie_path(@movie), method: 'delete', data: {confirm: 'comfirm?'}, class: "btn btn-danger" %>
  	</div> <!-- col-md-3 --> 

	</div> <!-- row -->
</div>