<div class="container">
	<div class="row">
		
  	<div class="col-md-9">
			<div class="well">
				<table class="books">
					<tr class="books">
						<td class="cover">
							<span class="pull-left"><%= image_tag @movie.photo.url(:thumb) %></span>
						</td>

						<td class="content">
							<header>
								<h4><%= @movie.name %></h4>
								<small>Year: &nbsp;<%= @movie.time %></small><br>
								<small>Director: &nbsp;<%= @movie.director %></small><br>
								<small>Writers: &nbsp;<%= @movie.writers %></small><br>
								<small>Stars: &nbsp;<%= @movie.stars %></small><br>
							</header>
	  				</td>
					</tr>
				</table>
				<h4>Description</h4>
				<p><%= markdown(@movie.description) %></p>
			</div> <!--well-->
			

			<div class="well well-sm">
				comment
			</div> <!-- well well-sm -->
		</div> <!-- col-md-9 -->

		<div class="col-md-3">
  		<p> sidebar </p>
  		<%= link_to t('edit'), edit_movie_path(@movie), class: "btn btn-info" %> | <%= link_to t('delete'), movie_path(@movie), method: 'delete', data: {confirm: 'comfirm?'}, class: "btn btn-danger" %>
  	</div> <!-- col-md-3 --> 

	</div> <!-- row -->
</div>