<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="well">
				<div class="user-avatar">
					<%= qiniu_image_tag @user.avatar.url, :thumbnail => '150x150!', :quality => 80, class: "avatar-normal" %>
				</div>
				<h2><%= @user.name %></h2>
				<div class="text-align: center">
					<%= render 'follow_form'%>
				</div>
			</div>

			<div class="well">
				<%= render 'shared/stats'%>
			</div>
		</div> <!-- col-md-4 -->

  	<div class="col-md-6">
			<div class="well">
				<% if @users.any? %> 
				<ul class="users">
					<% @users.each do |user| %>
            <li><%= user.name %></li> 
          <% end %>
				</ul>
				<div id="paginator" class="pull-right">
					<%= paginate @users, remote: true %>
				</div>
				<% end %>
			</div> <!-- well -->
		</div> <!-- col-md-6 -->



	</div> <!-- row -->
</div> <!-- container -->

