<% object.each do |book| %>
	<table class="books">
		<tr class="books">
			<td class="cover">
				<span class="pull-left"><%= image_tag book.photo.url(:thumb) %></span>
			</td>

			<td class="content">
				<header>
					<span class="badge pull-right"><%= book.comments_count %></span>
					<h4><%= link_to "#{book.name}", book_path(book) %></h4>
					<small>Author: &nbsp;<%= book.author %></small><br>
				</header>
				<p><%= markdown(book.description) %></p>
	  	</td>
		</tr>
	</table>
<% end %> <!-- object -->