<% object.each do |movie| %>
	<table class="books-index">
		<tr class="books-index">
			<td class="cover">
				<span class="pull-left"><%= qiniu_image_tag movie.photo.url, :thumbnail => '106x158!', :quality => 80 %></span>
			</td>

			<td class="content">
				<header>
					<span class="badge pull-right"><%= movie.comments_count %></span>
					<h4><%= link_to "#{movie.name}", movie_path(movie) %></h4>
					<small>Year: &nbsp;<%= movie.time %></small><br>
					<small>Director: &nbsp;<%= movie.director %></small><br>
					<small>Writers: &nbsp;<%= movie.writers %></small><br>
					<small>Stars: &nbsp;<%= movie.stars %></small><br>
				</header>
	  	</td>
		</tr>
	</table>
<% end %> <!-- object -->