<div class="container">
	<div class="row">
		
  	<div class="col-md-9">
			<div class="well">
				<table class="books">
					<tr class="books">
						<td class="cover">
							<span class="pull-left"><%= qiniu_image_tag @book.photo.url, :thumbnail => '212x316!', :quality => 80 %></span>
						</td>

						<td class="content">
							<header>
							<h3><%= @book.name %></h3>
							<p>Author: &nbsp;<%= @book.author %></p>
							<p>Categories: 
							<% @book.categories.each do |category| %>
	      				<%= link_to category.name, category_path(category), class: "label" %>
	      			<% end %>
	      			</p>
							</header>
	  				</td>
					</tr>
				</table>
				<h4>Description</h4>
				<p><%= markdown(@book.description) %></p>
			</div> <!--well-->
			

			<div class="well well-sm">
				<div role="tabpanel">

					<!-- nav tabs -->
					<ul class="nav nav-pills nav-justified" role="tablist">
						<li role="presentation" class="active"><a href="#comments" aria-controls="comments" role="tab" data-toggle="tab">Comments <span class="badge"><%= @book.comments_count %></span></a></li>
						<li role="presentation"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Posts</a></li>
					</ul>
					<!-- tab panes -->
					<hr />
					<div class="tab-content">
				    <div role="tabpanel" class="tab-pane active" id="comments">
							<div id="comments">
								<%= render 'comments/comments' %>
							</div>
							<div id="paginator" class="pull-right">
								<%= paginate @comments, remote: true %>
							</div>
							<br/>
							<div id="new_comment">
								<%= render 'comments/form' %>
							</div>
				    </div><!-- /tabpanel comments -->
							
				    <div role="tabpanel" class="tab-pane" id="posts">
							<%= link_to t('new_post'), new_polymorphic_path([@postable, @post]), class: "btn btn-success" %>
							<hr />
							<div id="posts">
								<%= render 'posts/posts'%>
							</div>
							<div id="posts-paginator" class="pull-right">
								<%= paginate @posts, remote: true %>
							</div>
				    </div><!-- /tabpanel posts -->
				  </div><!-- /tab-content -->

				</div><!-- /tabpanel -->

			</div> <!-- well well-sm -->
		</div> <!-- col-md-9 -->

		<div class="col-md-3">
  		<%= link_to t('edit'), edit_book_path(@book), class: "btn btn-info" %> | <%= link_to t('delete'), book_path(@book), method: 'delete', data: {confirm: 'comfirm?'}, class: "btn btn-danger" %>


  	</div> <!-- col-md-3 --> 

	</div> <!-- row -->
</div>