
<div class="container">
	<div class="row">
		
  	<div class="col-md-9">
			<div class="well">
				<table class="books">
					<tr class="books">
						<td class="cover">
							<span class="pull-left"><%= image_tag @book.photo.url(:thumb) %></span>
						</td>

						<td class="content">
							<header>
							<h4><%= @book.name %></h4>
							<small>Author: &nbsp;<%= @book.author %></small><br>
							<small>Categories: </small>
							<% @book.categories.each do |category| %>
	      				<%= link_to category.name, category_path(category), class: "label" %>
	      			<% end %>
							</header>
	  				</td>
					</tr>
				</table>
				<h4>Description</h4>
				<p><%= markdown(@book.description) %></p>
			</div> <!--well-->
			

			<div class="well well-sm">
				<h4> &nbsp; Comment <span class="badge"><%= @book.comments_count %></span></h4>
				<hr/>
				<div id="comments">
					<%= render 'shared/comments', object: @comments %>
				</div>
				<div id="paginator" class="pull-right">
					<%= paginate @comments, remote: true %>
				</div>
				<br/>
				<%= form_for [@book, @comment] do |f| %>
					<%= render 'layouts/error', object: @comment %>
					<div class="form-group">
						<%= f.text_area :body, rows: 10, class: "form-control" %>
					</div>
					<%= f.submit "New Comment", class: "btn btn-primary" %>
				<% end %>
			</div> <!-- well well-sm -->
		</div> <!-- col-md-9 -->

		<div class="col-md-3">
  		<p> sidebar </p>
  		<%= link_to t('edit'), edit_book_path(@book), class: "btn btn-info" %> | <%= link_to t('delete'), book_path(@book), method: 'delete', data: {confirm: 'comfirm?'}, class: "btn btn-danger" %>
  	</div> <!-- col-md-3 --> 

	</div> <!-- row -->
</div>