
<div class="container">
	<div class="row">
		
  	<div class="col-md-9">
			<div class="well">
					<h3><%= @book.name %></h3>
					<% @book.categories.each do |category| %>
	      		<%= link_to category.name, category_path(category), class: "label" %>
	      	<% end %>
					<%= image_tag @book.photo.url(:medium) %>
					<p><%= @book.author %></p>
					<p><%= markdown(@book.description) %></p>
			</div>
			
			<div class="well well-sm">
				<p> Comment </p><hr/>
				<div id="comments">
					<%= render 'shared/comments', object: @comments %>
				</div>
				<div id="paginator" class="pull-right">
					<%= paginate @comments, remote: true %>
				</div>
				<br/>
				<%= form_for [@book, @comment] do |f| %>
					<%= render 'layouts/error', object: @comment %>
					<div class="form-group">
						<%= f.text_area :body, rows: 10, class: "form-control" %>
					</div>
					<%= f.submit "New Comment", class: "btn btn-primary" %>
				<% end %>
			</div>
		</div> <!-- col-md-9 -->

		<div class="col-md-3">
  		<p> sidebar </p>
  		<%= link_to t('edit'), edit_book_path(@book), class: "btn btn-info" %> | <%= link_to t('delete'), book_path(@book), method: 'delete', data: {confirm: 'comfirm?'}, class: "btn btn-danger" %>
  	</div>  

	</div> <!-- row -->
</div>