<div class="container">
	<div class="row">
		
  	<div class="col-md-9">
			<div class="well">
				<div class="postinfo">
					<span class="pull-right"><%= qiniu_image_tag @post.user.avatar.url, :thumbnail => '64x64!', :quality => 80, class: "avatar-normal" %></span>
					<h3><%= @post.title %></h3>
					<small><%= link_to @post.user.name, user_path(@post.user) %> 	▪  <%= t('posted_on') %> <%= display_date(@post.created_at) %> </small>
				</div>
				<hr/>
				<p><%= markdown(@post.body) %></p>
			</div> <!--well-->
		</div>

		<div class="col-md-3">
			<% if @post.postable_type == "Book" %>
				<div class="well well-sm">
  				<%= link_to t('edit'), edit_book_post_path(@post.postable_id, @post), class: "btn btn-info" %> | <%= link_to t('delete'), book_post_path(@post.postable_id, @post), method: 'delete', data: {confirm: 'comfirm?'}, class: "btn btn-danger" %>
  			</div>
  		<% else @post.postable_type == "Movie" %>
  			<div class="well well-sm">
  				<%= link_to t('edit'), edit_movie_post_path(@post.postable_id, @post), class: "btn btn-info" %> | <%= link_to t('delete'), movie_post_path(@post.postable_id, @post), method: 'delete', data: {confirm: 'comfirm?'}, class: "btn btn-danger" %>
  			</div>
  		<% end %>
  	</div> <!-- col-md-3 --> 

	</div> <!-- row -->
</div>