<div class="container">
	<div class="row">
		
  	<div class="col-md-9">
			<div class="well">
				<div class="postinfo">
					<span class="pull-right"><%= qiniu_image_tag @post.user.avatar.url, :thumbnail => '64x64!', :quality => 80, class: "avatar-normal" %></span>
					<h3><%= @post.title %></h3>
					<small><%= link_to @post.user.name, user_path(@post.user) %> 	▪  <%= t('posted_on') %> <%= display_date(@post.created_at) %> </small>
				</div>
				<hr/>
				<p><%= markdown(@post.body) %></p>
			</div> <!--well-->

			<div class="well well-sm">
				<h4> &nbsp; Comment <span class="badge"><%= @post.comments_count %></span></h4>
				<hr/>
				<div id="comments">
					<%= render 'comments/comments' %>
				</div>
				<div id="paginator" class="pull-right">
					<%= paginate @comments, remote: true %>
				</div>
				<br/>
				<%= render 'comments/form' %>

			</div> <!-- well well-sm -->

		</div> <!-- col-md-9 -->

		<div class="col-md-3">
				<% if policy(@post).update? %>
				<div class="well well-sm" style="text-align:center">
  				<%= link_to t('edit'), edit_post_path(@post), class: "btn btn-info" %> | <%= link_to t('delete'), post_path(@post), method: 'delete', data: {confirm: 'comfirm?'}, class: "btn btn-danger" %>
  			</div>
  			<% end %>
  			<div class="well well-sm" style="text-align:center">
  				<%= link_to "Back to Topic", @post.postable %>
  			</div>

  	</div> <!-- col-md-3 --> 
	</div> <!-- row -->



</div>